<div class="full-div">
  <p-toast/>
  <p-confirmDialog [position]="'top'"/>
  <div class="title-of-page">{{ action }} Ταινίας</div>
  <form [formGroup]="createForm" (ngSubmit)="confirmCreate($event)">
    <div class="row fields-div">
      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-fields">
              <label for="title">Τίτλος*</label>
              <input formControlName="title" pInputText id="title" type="text">
              <div *ngIf="createForm.controls['title']?.invalid && !createForm.controls['title']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['title'].hasError('required')">To πεδίο Τίτλος
                  είναι
                  υποχρεωτικό</small>
              </div>
            </div>
            <div class="input-fields">
              <label for="director">Σκηνοθέτης*</label>
              <input formControlName="director" pInputText id="director" type="text">
              <div *ngIf="createForm.controls['director']?.invalid && !createForm.controls['director']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['director'].hasError('required')">Το πεδίο
                  Σκηνοθέτης είναι υποχρεωτικό</small>
              </div>
            </div>
            <div class="input-fields">
              <label for="producer">Παραγωγός*</label>
              <input formControlName="producer" pInputText id="producer" type="text">
              <div *ngIf="createForm.controls['producer']?.invalid && !createForm.controls['producer']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['producer'].hasError('required')">Το πεδίο
                  Παραγωγός είναι υποχρεωτικό</small>
              </div>
            </div>
            <div class="input-fields">
              <label for="type">Τυπός Ταινίας*</label>
              <p-select id="type" formControlName="type" [options]="types" optionLabel="name" optionValue="code"
                        placeholder="Τυπός Ταινίας" class="w-full md:w-56"/>
              <div *ngIf="createForm.controls['type']?.invalid && !createForm.controls['type']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['type'].hasError('required')">Το πεδίο
                  Τυπός Ταινίας είναι υποχρεωτικό</small>
              </div>
            </div>
            <div class="input-fields">
              <label for="duration">Διάρκεια (Σε λεπτά)*</label>
              <input formControlName="duration" pInputText id="duration">
              <div *ngIf="createForm.controls['duration']?.invalid && !createForm.controls['duration']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['duration'].hasError('required')">Το πεδίο
                  Διάρκεια είναι υποχρεωτικό</small>
                <small style="color: red" *ngIf="createForm.controls['duration'].hasError('pattern')">Το πεδίο Διάρκεια δέχεται μόνο αριθμούς με δύο ή τρία ψηφία</small>
                <small style="color: red" *ngIf="createForm.controls['duration'].hasError('maxlength')">Το πεδίο Διάρκεια δέχεται μόνο αριθμούς με δύο ή τρία ψηφία</small>
              </div>
            </div>
            <div class="input-fields">
              <label for="rating">Βαθμολογία*</label>
              <p-rating id="rating" formControlName="rating"/>
              <div *ngIf="createForm.controls['rating']?.invalid && !createForm.controls['rating']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['rating'].hasError('required')">Το πεδίο
                  Βαθμολογία είναι υποχρεωτικό</small>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-fields">
              <label for="releaseDate">Ημέρα Κυκλοφορίας*</label>
              <p-date-picker id="releaseDate" formControlName="releaseDate" dateFormat="yy-mm-dd"/>
              <div
                *ngIf="createForm.controls['releaseDate']?.invalid && !createForm.controls['releaseDate']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['releaseDate'].hasError('required')">Το πεδίο
                  Ημέρα Κυκλοφορίας είναι υποχρεωτικό</small>
              </div>
            </div>
            <div class="input-fields">
              <label for="rated">Καταλληλότητα*</label>
              <p-select id="rated" formControlName="rated" [options]="ages" optionLabel="range" optionValue="range"
                        placeholder="Καταλληλότητα" class="w-full md:w-56"/>
              <div *ngIf="createForm.controls['rated']?.invalid && !createForm.controls['rated']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['rated'].hasError('required')">Το πεδίο
                  Καταλληλότητα είναι υποχρεωτικό</small>
              </div>
            </div>
            <div class="input-fields">
              <label for="trailerCode">Κωδικός Trailer Youtube*</label>
              <h6 style="color: red">(π.χ https://www.youtube.com/watch?v=<span
                style="color: #2b38cc; border: 1px solid black; border-radius: 40%; padding: 0.2rem">M5QY2_8704o</span>)
              </h6>
              <input formControlName="trailerCode" pInputText id="trailerCode" type="text">
              <div
                *ngIf="createForm.controls['trailerCode']?.invalid && !createForm.controls['trailerCode']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['trailerCode'].hasError('required')">Το πεδίο
                  Κωδικός Trailer Youtube είναι υποχρεωτικό</small>
              </div>
            </div>
            <div class="input-fields">
              <label for="wikiLink">Υπερσύνδεσμος για Πληροφορίες*</label>
              <input formControlName="wikiLink" pInputText id="wikiLink" type="text">
              <div
                *ngIf="createForm.controls['wikiLink']?.invalid && !createForm.controls['wikiLink']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['wikiLink'].hasError('required')">Το πεδίο
                  Υπερσύνδεσμος για Πληροφορίες είναι υποχρεωτικό</small>
              </div>
            </div>
            <div class="input-fields">
              <label for="description">Περιγραφή*</label>
              <textarea formControlName="description" pTextarea id="description" rows="4" cols="30"></textarea>
              <div
                *ngIf="createForm.controls['description']?.invalid && !createForm.controls['description']?.untouched">
                <small style="color: red" *ngIf="createForm.controls['description'].hasError('required')">Το πεδίο
                  Περιγραφή είναι υποχρεωτικό</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding-top: 4rem">
        <p-fileupload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onSelect)="onUpload($event)"
                      (onClear)="removeFile()"
                      (onRemove)="removeFile()"
                      [showUploadButton]="false"
                      [chooseLabel]="'Επιλογή'"
                      [cancelLabel]="'Αφαίρεση'"
                      [multiple]="false" accept="image/*" maxFileSize="1000000" mode="advanced">
          <ng-template #empty>
            <div>Σύρε και άσε τη φωτογραφία της ταινίας ή επέλεξε από τα αρχεία</div>
          </ng-template>
          <ng-template #content>
            <ul *ngIf="base64File">
              <li style="display: flex; align-items: center; justify-content: space-between;">
                <img width="100" height="120" [src]="base64File" alt="Movie Thumbnail">
                <div>Εικόνα Ταινίας</div>
              </li>
            </ul>
          </ng-template>
        </p-fileupload>
        <div
          *ngIf="createForm.controls['thumbnail']?.invalid && !createForm.controls['thumbnail']?.untouched">
          <small style="color: red" *ngIf="createForm.controls['thumbnail'].hasError('required')">Είναι απαραίτητο το
            εξώφυλλο της ταινίας</small>
        </div>
      </div>
      <div class="add-section">
        <div style="display: flex; align-items: center; margin-bottom: 1rem; font-size: 1.3rem">
          <a style="text-decoration: none;" routerLink="/movies"><i class="pi pi-arrow-left"
                                                                    style="font-size: inherit"></i> Επιστροφή στις
            Ταινίες</a>
        </div>
        <button [ngClass]="action === 'Προσθήκη' ? 'add-content-button' : 'edit-content-button'" type="submit"
                (click)="confirmCreate($event)">{{buttonEditOrCreate}} <i
          [ngClass]="action === 'Επεξεργασία' ? 'pi pi-save' : 'pi pi-plus'"></i>
        </button>
      </div>
    </div>
  </form>
</div>
