.main-full-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.legend {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}



